In [1]:
import pandas as pd

In [39]:
df=pd.read_csv('weatherAUS.csv',encoding='utf-8')
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [ ]:
df.info

In [132]:
df.describe

<bound method NDFrame.describe of               Date Location  MinTemp  MaxTemp  Rainfall WindGustDir  \
0       2008-12-01   Albury     13.4     22.9       0.6           W
1       2008-12-02   Albury      7.4     25.1       0.0         WNW
2       2008-12-03   Albury     12.9     25.7       0.0         WSW
3       2008-12-04   Albury      9.2     28.0       0.0          NE
4       2008-12-05   Albury     17.5     32.3       1.0           W
...            ...      ...      ...      ...       ...         ...
145455  2017-06-21    Uluru      2.8     23.4       0.0           E
145456  2017-06-22    Uluru      3.6     25.3       0.0         NNW
145457  2017-06-23    Uluru      5.4     26.9       0.0           N
145458  2017-06-24    Uluru      7.8     27.0       0.0          SE
145459  2017-06-25    Uluru     14.9      NaN       0.0         NaN

        WindGustSpeed WindDir9am WindDir3pm  WindSpeed9am  ...  Humidity3pm  \
0                44.0          W        WNW          20.0  ...         22.0
1                44.0        NNW        WSW           4.0  ...         25.0
2                46.0          W        WSW          19.0  ...         30.0
3                24.0         SE          E          11.0  ...         16.0
4                41.0        ENE         NW           7.0  ...         33.0
...               ...        ...        ...           ...  ...          ...
145455           31.0         SE        ENE          13.0  ...         24.0
145456           22.0         SE          N          13.0  ...         21.0
145457           37.0         SE        WNW           9.0  ...         24.0
145458           28.0        SSE          N          13.0  ...         24.0
145459            NaN        ESE        ESE          17.0  ...         36.0

        Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  \
0            1007.7       1007.1       8.0       NaN     16.9     21.8
1            1010.6       1007.8       NaN       NaN     17.2     24.3
2            1007.6       1008.7       NaN       2.0     21.0     23.2
3            1017.6       1012.8       NaN       NaN     18.1     26.5
4            1010.8       1006.0       7.0       8.0     17.8     29.7
...             ...          ...       ...       ...      ...      ...
145455       1024.6       1020.3       NaN       NaN     10.1     22.4
145456       1023.5       1019.1       NaN       NaN     10.9     24.5
145457       1021.0       1016.8       NaN       NaN     12.5     26.1
145458       1019.4       1016.5       3.0       2.0     15.1     26.0
145459       1020.2       1017.9       8.0       8.0     15.0     20.9

        RainToday  RainTomorrow Difference
0          NoRain        NoRain        9.5
1          NoRain        NoRain       17.7
2          NoRain        NoRain       12.8
3          NoRain        NoRain       18.8
4          NoRain        NoRain       14.8
...           ...           ...        ...
145455     NoRain        NoRain       20.6
145456     NoRain        NoRain       21.7
145457     NoRain        NoRain       21.5
145458     NoRain        NoRain       19.2
145459     NoRain           NaN        NaN

[145460 rows x 22 columns]>

In [ ]:
df.size

In [ ]:
df.shape

In [ ]:
Types=df.dtypes

In [ ]:
isnuLL=df.isnull().sum()

In [ ]:
notnuLL=df.notnull().sum()

In [ ]:
nuniqEE=df.nunique()

In [139]:
new=pd.DataFrame({'columns':(Types.index),"dtype":(Types.values),"notnull":(notnuLL.values),"isnul":(isnuLL.values),"nunique":(nuniqEE.values)})
new

          columns    dtype  notnull  isnul  nunique
0            Date   object   145460      0     3436
1        Location   object   145460      0       49
2         MinTemp  float64   143975   1485      389
3         MaxTemp  float64   144199   1261      505
4        Rainfall  float64   142199   3261      681
5     Evaporation  float64    82670  62790      358
6        Sunshine  float64    75625  69835      145
7     WindGustDir   object   135134  10326       16
8   WindGustSpeed  float64   135197  10263       67
9      WindDir9am   object   134894  10566       16
10     WindDir3pm   object   141232   4228       16
11   WindSpeed9am  float64   143693   1767       43
12   WindSpeed3pm  float64   142398   3062       44
13    Humidity9am  float64   142806   2654      101
14    Humidity3pm  float64   140953   4507      101
15    Pressure9am  float64   130395  15065      546
16    Pressure3pm  float64   130432  15028      549
17       Cloud9am  float64    89572  55888       10
18       Cloud3pm  float64    86102  59358       10
19        Temp9am  float64   143693   1767      441
20        Temp3pm  float64   141851   3609      502
21      RainToday   object   142199   3261        2
22   RainTomorrow   object   142193   3267        2

In [ ]:
LowerCase=df.columns.str.lower()
LowerCase

In [ ]:
df["RainToday"].replace({"No":"NoRain","Yes":"Rain"},inplace=True)
df["RainTomorrow"].replace({"No":"NoRain","Yes":"Rain"},inplace=True)

In [ ]:
df.astype({"Date":"datetime64"}).dtypes

In [ ]:
df.Date.dt.strftime("%d,%m,%Y")T

In [ ]:
df["Difference"]= df['MaxTemp']-df['MinTemp']
df.head(1)

In [ ]:
df.drop(["Evaporation","Sunshine"],axis=1)

In [262]:
maxrain=pd.DataFrame({"location":df.Location.values, 'miktar':df.Rainfall.values, 'day':df.Date.values})
maxrain.dropna(inplace=True)
a=maxrain.sort_values('miktar',ascending=False,ignore_index=True)
a
# new=pd.DataFrame({"CityName":a.location[0::], "day":a.day[0::]})
# new

            location  miktar         day
0       CoffsHarbour   371.0  2009-11-07
1             Darwin   367.6  2011-02-16
2             Cairns   278.4  2009-01-12
3             Cairns   268.6  2011-02-04
4             Cairns   247.2  2015-02-08
...              ...     ...         ...
142194      Ballarat     0.0  2017-03-18
142195      Ballarat     0.0  2017-03-17
142196      Ballarat     0.0  2017-03-15
142197      Ballarat     0.0  2017-03-14
142198         Uluru     0.0  2017-06-25

[142199 rows x 3 columns]

In [96]:
alburYY={
    "location":pd.Series(index=df.Location.values, data=df.MaxTemp.values),
    "maxtemp":pd.Series(index=df.Location.values, data=df.MaxTemp.values)
}
cityal=pd.DataFrame(alburYY)
cityal.loc['Albury'].sort_values("maxtemp")

        location  maxtemp
Albury       6.8      6.8
Albury       7.5      7.5
Albury       8.2      8.2
Albury       8.2      8.2
Albury       8.3      8.3
...          ...      ...
Albury      43.1     43.1
Albury      43.4     43.4
Albury      43.6     43.6
Albury      43.7     43.7
Albury      44.8     44.8

[3008 rows x 2 columns]

In [16]:
df.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [43]:
df.dropna(subset = ['WindGustDir'],inplace=True)
df.WindGustDir

0           W
1         WNW
2         WSW
3          NE
4           W
         ...
145454      E
145455      E
145456    NNW
145457      N
145458     SE
Name: WindGustDir, Length: 135134, dtype: object

In [195]:
a=df.Location
b=df.Sunshine
c=df.Evaporation
new=pd.DataFrame({
    "Location":a,
    "Sunshine":b,
    "Evaporation":c})
new.drop_duplicates(subset=['Location'])

                Location  Sunshine  Evaporation
0                 Albury       NaN          NaN
3040       BadgerysCreek       NaN          NaN
6049               Cobar      12.3         12.0
9058        CoffsHarbour      11.4          7.4
12067              Moree       9.3         12.2
18115          NorahHead       NaN          NaN
21119      NorfolkIsland      12.4          6.0
24128            Penrith       NaN          NaN
27167           Richmond       NaN          NaN
31155             Sydney       1.2          2.2
33520      SydneyAirport      12.9          9.8
36529         WaggaWagga      13.5          9.8
39538        Williamtown       9.2         11.6
42549         Wollongong       NaN          NaN
45587           Canberra       6.3          3.4
49023        Tuggeranong       NaN          NaN
52205        MountGinini       NaN          NaN
55102           Ballarat       NaN          NaN
58142            Bendigo       NaN          7.4
61182               Sale      11.5         10.0
64191   MelbourneAirport       8.8          5.6
67200          Melbourne       7.0          2.8
70393            Mildura      12.6          9.6
73402               Nhil       NaN          NaN
74980           Portland       6.5          4.8
77989           Watsonia       8.8          5.6
81061           Dartmoor       7.8          3.0
84007           Brisbane       9.5          1.4
87200             Cairns       6.4          4.0
90240          GoldCoast       NaN          NaN
93280         Townsville      11.6          4.6
96320           Adelaide       2.6          1.6
99513       MountGambier      10.6          5.0
102553         Nuriootpa      12.2          NaN
105562           Woomera       NaN          NaN
111611       Witchcliffe       NaN          NaN
114620        PearceRAAF      13.1          NaN
117629      PerthAirport      13.1         11.6
120638             Perth       9.1          0.8
123831        SalmonGums       NaN          NaN
126832           Walpole       NaN          NaN
129838            Hobart       6.0          3.4
133031        Launceston       NaN         15.2
136071      AliceSprings       9.8         11.2
139111            Darwin      11.0          4.4
142304         Katherine       NaN          4.0
143882             Uluru       NaN          NaN

In [214]:
z=df["Location"]=="Darwin" 
df[z].Evaporation.max()
df[z].Evaporation.min()
df[z].Evaporation.median()

6.4

In [168]:
a=df.groupby(['Location']).mean()
a

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
Location,,,,,,,,,,,,,,,,
Adelaide,12.571487,22.891254,1.576076,5.757117,7.742417,36.499211,9.954804,15.470774,59.716182,44.866941,1018.758665,1016.798356,NaN,NaN,16.925284,21.552038
Albury,9.518588,22.629555,1.904552,NaN,NaN,32.977394,8.209720,14.385358,74.101198,47.907912,1018.366190,1015.752959,6.393916,5.410148,14.347304,21.361802
AliceSprings,13.155254,29.281325,0.869484,9.042405,9.592820,40.531281,14.754603,18.098092,39.542015,24.035846,1016.684639,1012.866812,2.838528,3.242597,21.365072,28.043254
BadgerysCreek,11.135741,24.014949,2.215406,NaN,NaN,33.600409,8.053590,13.997940,76.932530,51.426309,1018.469363,1015.657849,NaN,NaN,16.567467,22.513928
Ballarat,7.348670,18.267930,1.706369,NaN,NaN,44.982719,19.976024,22.770792,81.801338,59.051948,1017.872715,1016.289983,5.810219,6.282246,11.658253,16.772537
Bendigo,8.611841,21.625609,1.631586,3.835616,NaN,38.844948,12.945630,17.173173,70.579158,46.516011,1017.991296,1015.831417,4.418262,4.867384,13.850317,20.251734
Brisbane,16.414204,26.436043,3.119424,5.406064,8.069265,28.212881,6.950508,10.993331,64.064762,53.917250,1018.252094,1015.119022,3.920025,3.886349,21.822317,24.734087
Cairns,21.225099,29.559550,5.701852,6.244197,7.577948,38.026150,15.902649,21.907616,69.937086,61.751738,1014.152351,1011.098444,4.561036,4.441145,25.821921,27.911188
Canberra,6.670100,20.731579,1.745920,4.134289,7.419064,40.071682,10.444228,19.082444,73.814206,46.445272,1019.003108,1016.256796,4.888889,4.802676,12.486515,19.246330
Cobar,13.131412,25.853488,1.132655,6.751995,8.693236,36.750590,14.679717,15.143965,55.148317,33.881837,1017.994375,1015.327909,3.311223,3.861215,18.102632,24.517262
CoffsHarbour,14.522998,23.971493,4.990985,3.912857,7.353320,39.227925,15.273139,21.186011,68.161815,62.380447,1018.245185,1015.847220,4.324651,4.500229,20.191770,22.372951
Dartmoor,8.620518,19.696769,2.150272,3.354226,6.419215,38.898299,10.815458,17.949643,85.218739,62.439885,1018.003777,1016.512628,NaN,NaN,12.588632,18.181354
Darwin,23.190022,32.538259,5.076454,6.315255,8.522194,40.579917,15.043561,20.848061,68.414812,51.699301,1011.911825,1008.365130,4.323268,4.296025,27.170321,31.087095
GoldCoast,17.287324,25.713189,3.737301,NaN,NaN,42.476370,19.331962,25.831619,66.218213,62.824055,1017.981747,1015.278219,NaN,NaN,22.308973,23.712466
Hobart,9.080883,17.858517,1.604739,3.599146,6.574842,47.530915,16.291167,19.818870,65.650316,52.974668,1014.507447,1012.941338,4.845771,4.963591,12.460271,16.166835
Katherine,20.546272,34.915762,3.239856,7.325926,NaN,38.771465,12.100129,15.783959,63.863358,42.824897,1012.786886,1008.483840,2.587417,3.199762,26.634195,33.551130
Launceston,7.858822,18.983062,2.016483,6.190714,NaN,35.625749,8.471547,15.555333,79.450732,57.240506,1015.647558,1013.722920,6.315716,5.719346,12.050266,17.709860
Melbourne,11.770359,20.760489,1.874019,4.642884,6.387980,45.610255,19.091281,22.071721,67.577308,51.158990,1017.642868,1015.787500,5.311132,5.336386,14.580467,19.263822
MelbourneAirport,9.962558,20.478958,1.456045,4.634437,6.378750,46.919172,20.244905,23.057114,70.139317,51.152429,1018.102071,1016.295090,5.246827,5.264952,14.110354,18.947027
Mildura,10.738782,24.848202,0.945370,5.938816,8.468361,37.168775,14.000999,16.695305,64.088637,35.402000,1018.765133,1016.255929,3.384800,3.922996,15.536563,23.434266
Moree,12.909625,26.975060,1.612936,7.639713,8.917212,39.889116,18.089170,16.832251,61.297916,35.663363,1018.329512,1014.943432,3.340373,3.961901,18.875708,25.678028
MountGambier,8.820797,19.818882,2.078296,3.425587,6.505339,42.853030,17.496651,22.372194,75.525856,57.378986,1017.967861,1016.397587,5.518377,5.478668,13.777804,18.170476
MountGinini,3.487122,11.506027,3.317951,NaN,NaN,46.253951,15.807078,14.979111,77.152479,70.062107,NaN,NaN,NaN,NaN,6.787454,10.086023
Nhil,8.991959,22.394576,0.933973,NaN,NaN,42.542438,16.435227,20.960434,73.059349,44.942565,1018.537779,1016.393810,NaN,NaN,13.374091,20.863114
NorahHead,15.346429,22.583152,3.388950,NaN,NaN,42.183051,13.866008,20.983657,74.592087,67.488079,1018.262377,1016.012033,NaN,NaN,18.463677,20.760368
NorfolkIsland,16.868073,21.827935,3.132717,4.738062,7.013740,42.601889,20.171119,21.871414,70.779655,67.832265,1017.626928,1015.886703,5.025508,4.849725,19.777492,20.471178
Nuriootpa,9.404508,21.751250,1.380203,5.098451,7.673709,40.681081,14.239513,18.161072,66.731707,45.364530,1018.870118,1016.746479,4.682299,4.875965,14.886270,20.358917
PearceRAAF,12.295443,26.052760,1.691525,NaN,8.805317,43.579958,16.044787,20.362299,60.854043,42.120575,1017.600490,1015.087272,3.864047,4.047118,18.851784,24.493833
Penrith,12.537888,24.733782,2.176233,NaN,NaN,31.807330,6.345997,11.967938,75.822859,49.006518,NaN,NaN,NaN,NaN,16.952557,23.329386
Perth,12.921769,25.037402,1.905144,5.606527,8.786616,34.882999,10.697302,14.516939,62.677572,46.906004,1017.778820,1015.412923,3.381984,3.467337,18.574122,23.463331
PerthAirport,12.593723,25.541714,1.744988,5.671168,8.796114,44.201822,17.760297,21.283592,58.761390,41.927414,1017.851992,1015.332917,3.379264,3.451504,18.792845,24.092944
Portland,9.586485,18.047209,2.528629,3.416822,6.495462,42.059852,16.316852,20.769179,78.741715,65.988855,1017.709622,1016.641734,6.340086,6.075295,13.189276,16.501621
Richmond,11.333866,24.455586,2.130970,5.247180,NaN,34.872290,7.016769,14.875299,76.874355,49.002065,1018.695907,1015.626298,6.249169,5.509499,16.551231,23.124692
Sale,8.595363,20.321583,1.523612,3.825179,6.689749,42.479777,14.335311,22.307853,78.699895,56.201893,1017.723214,1015.801296,5.329070,5.081528,13.464759,18.818940
SalmonGums,9.376693,24.288645,1.037027,NaN,NaN,39.748372,16.293269,17.314452,62.845520,40.778922,NaN,NaN,NaN,NaN,17.080398,22.708857
Sydney,15.062213,23.292758,3.477445,5.317841,7.194377,41.757589,15.265740,19.739809,67.602704,54.291630,1018.302441,1015.980697,4.233523,4.184912,18.065421,21.748349
SydneyAirport,14.893845,23.394050,2.984631,5.268154,7.193578,47.234280,18.559689,25.773081,64.735453,53.872376,1018.394002,1015.995533,4.279282,4.276200,18.550085,21.785188
Townsville,20.412931,29.361485,3.455083,7.198736,8.465554,38.840570,15.233831,24.259529,63.931720,57.387140,1015.166788,1011.906563,4.290628,4.008727,25.632847,27.765462
Tuggeranong,7.235581,20.771295,2.165203,NaN,NaN,35.215883,7.641560,14.882590,72.797447,47.124916,1018.525386,1015.670338,NaN,NaN,12.571045,19.438480
Uluru,14.399533,30.389633,0.714555,NaN,NaN,41.268373,17.610928,16.986868,42.254785,23.838477,1017.145855,1013.345502,5.567568,4.832911,20.996568,29.071832
WaggaWagga,9.628212,23.046863,1.711737,5.191840,8.208085,36.648105,12.881248,16.207648,67.833781,42.575310,1018.490876,1015.837538,3.857505,4.191952,14.940054,21.766152
Walpole,11.837917,20.491127,2.865308,NaN,NaN,39.829640,13.924143,17.231809,76.170766,66.325710,1017.869830,1016.228933,NaN,NaN,15.944822,18.591719
Watsonia,10.115729,20.858445,1.842159,4.631863,6.369438,38.059219,9.922585,15.199260,78.364435,54.779946,1018.057523,1016.112483,5.246972,5.266577,13.748276,19.363694
Williamtown,12.774443,23.985346,3.621076,6.786268,7.139060,41.681518,16.419861,22.242688,71.920153,54.057511,1018.477119,1015.989892,4.711505,4.493398,18.068780,22.475279
Witchcliffe,10.786932,21.685407,2.910366,NaN,NaN,40.083025,13.959946,19.168124,71.386637,57.826103,1018.385302,1016.727340,NaN,NaN,16.550151,19.806052
Wollongong,14.919289,21.445166,3.611757,NaN,NaN,45.690842,16.637222,21.960685,67.649158,65.139832,1018.152821,1016.063471,6.219880,5.857854,18.173266,19.915692
Woomera,13.410819,26.639327,0.496816,10.200118,9.042980,44.156566,20.098720,20.707786,53.012175,28.356876,1018.568959,1015.908570,2.528891,2.897103,17.974806,25.244879